@tailwind base;

body,
html {
    @apply m-0 p-0 w-full h-full font-comic-sans
}

h1 {
    color: red;
    text-shadow: 0 3px 0 blue;

    @apply text-3xl uppercase font-bold font-normal text-center
}

h2 {
    color: blue;
    text-shadow: 0 3px 0 orange;

    @apply text-xl uppercase font-normal text-center
}

h3 {
    color: orange;

    @apply text-lg
}


@tailwind components;
@tailwind utilities;

.container {
    @apply p-10 flex justify-center items-center flex-col
}
